.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  overflow: hidden;
  position: relative;
  border-bottom-left-radius: 48px;
  border-bottom-right-radius: 48px;
  overflow: hidden;
}

.header {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px;
  border-bottom: 1px solid var(--medium);
  box-shadow: var(--box-shadow);
  background-color: var(--black);
  z-index: 101;
  transition: transform 0.3s ease-in-out;
  &.active {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    transform: translateY(-100%);
  }
}

.button {
  all: unset;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  color: var(--white);
}

.allPostsContainer {
  width: 100%;
  height: 100%;
  overflow: scroll;
  padding-top: 71px;
  position:absolute;
  top: 0;
  left: 0;

}