.header {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px;
  /* border-bottom: 1px solid var(--medium); */
  box-shadow: var(--box-shadow);
  background-color: var(--black);
  z-index: 98;
  transition: transform 0.3s ease-in-out;
  &.active {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    transform: translateY(-100%);
  }
}

.link {
  all: unset;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  color: var(--white);
}
