.post {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  position: relative;
 
}

.postContent {
  width: 100%;
  height: 100%;
  max-height: 500px;
   background-color: var(--transparent-black);
}

.profileHeader {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  position: absolute;
  top: 0;
  left: 0;

  z-index: 100;
  background-color: var(--transparent-black);

  padding: 8px 16px;
  border: 1px solid var(--medium);
  box-shadow: var(--box-shadow);
}

.profileImage {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  overflow: hidden;
  border: 1px solid var(--medium);
  box-shadow: var(--box-shadow);
  & > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.profileName {
  font-size: 14px;
  font-weight: 700;
  text-shadow: var(--text-shadow);
  color: var(--white);
}