.post {
  width: 100%;
  height: auto;
  position: relative;
 
}

.postContent {
  width: 100%;
  height: 500px;
   background-color: var(--transparent-black);
   border-bottom: 1px solid var(--medium);
}

.profileHeader {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  position: absolute;
  top: 0;
  left: 0;

  z-index: 100;
  background-color: var(--transparent-black);

  padding: 8px 16px;
  border: 1px solid var(--medium);
  box-shadow: var(--box-shadow);
}

.profileImage {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  overflow: hidden;
  border: 1px solid var(--medium);
  box-shadow: var(--box-shadow);
  & > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.username {
  font-size: 14px;
  font-weight: 700;
  text-shadow: var(--text-shadow);
  color: var(--white);
}

.postFooter {
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: column;
  gap: 8px;
  padding: 8px 16px;
  background-color: var(--secondary);
}

.postLikes {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 8px;
}

.postCaption {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 8px;
}

.postCaptionText {
  font-size: 14px;
  font-weight: 500;
  text-align: left;
  margin: 0;
  padding: 0;
  color: var(--primary);
}

.postCaptionUsername {
  font-weight: 700;
  color: var(--primary);
}

.postTimestamp {
  font-size: 12px;
  font-weight: 500;
  color: var(--primary);
  text-align: left;
}