.container {
  width: 100%;
  max-width: 250px;
  min-width: 250px;
  height: auto;
  padding: 16px;
  position: absolute;
  transition: transform 0.5s ease-in-out;
  pointer-events: none;
}

.container.center {
  transform: translateX(0);
  z-index: 3;
}

.container.right {
  transform: translateX(75%);
  z-index: 4;
}

.container.extra-right {
  transform: translateX(100%);
  z-index: 5;
}

.container.left {
  transform: translateX(-25%);
  z-index: 2;
}

.container.extra-left {
  transform: translateX(-100%);
  z-index: 1;
}

  .container.hidden {
  display: none;
}

.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 16px;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s ease-in-out, visibility 0.5s ease-in-out;
  &.active {
    opacity: 1;
    visibility: visible;
  }
}

.appName {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.label {
  font-size: 12px;
  font-weight: 700;
  text-align: center;
  margin: 0;
  text-shadow: var(--text-shadow);
}

.card {
  width: 100%;
  height: 400px;
  background-color: var(--medium);
  border-radius: 36px;
  padding: 16px;
  border: 3px solid var(--black);
  box-shadow: var(--box-shadow);
  display: block;
  text-decoration: none;
  pointer-events: auto;
}

.header {
  margin-bottom: 8px;
  padding: 0 32px;
}

.closeButton {
  all: unset;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  pointer-events: auto;
}