.container {
  width: 100%;
  max-width: 250px;
  min-width: 250px;
  height: auto;
  padding: 16px;
  position: absolute;
}

.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 16px;
}

.appName {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.label {
  font-size: 12px;
  font-weight: 700;
  text-align: center;
  margin: 0;
  text-shadow: var(--text-shadow);
}

.card {
  width: 100%;
  height: 400px;
  background-color: var(--black);
  border-radius: 36px;
  padding: 16px;
  border: 1px solid var(--medium);
  box-shadow: var(--box-shadow);
}