.container {
  width: 100%;
  max-width: 200px;
  height: auto;
  padding: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.appName {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

.label {
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  margin: 0;
  text-shadow: var(--text-shadow);
}

.card {
  width: 100%;
  height: auto;
  background-color: var(--transparent-black);
  border-radius: 16px;
  padding: 16px;
  border: 1px solid var(--medium);
  box-shadow: var(--box-shadow);
}