.screen {
  height: 100vh;
  width: 100%;
  margin: auto;
  padding: 0;
  background-color: var(--secondary);
  color: var(--primary);
  background-image: url('/temp-images/phone-background-1.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 48px;
  position: relative;
  border: 5px solid var(--white);
  outline: 3px solid var(--black);
  overflow: hidden;
  box-shadow: var(--box-shadow2);
}

@media screen and (min-width: 567px) {
  .screen {
    max-width: 400px;
    max-height: 80vh;
  }
}

.main {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-top: 63px;
  overflow: hidden;
}
