.screen {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  margin: auto;
  padding: 0;
  background-color: var(--secondary);
  color: var(--primary);
  background-image: url('/phone-background-1.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.main {
}

@media screen and (min-width: 567px) {
  .screen {
    max-width: 450px;
    max-height: 80vh;
  }
}
