.screen {
  height: 100vh;
  width: 100%;
  margin: auto;
  padding: 0;
  background-color: var(--secondary);
  color: var(--primary);
  background-image: url('/temp-images/phone-background-1.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 48px;
  position: relative;
  /* overflow: hidden; */
  &::after {
    content: '';
    position: absolute;
    top: -3px;
    left: -3px;
    width: 100%;
    height: 100%;
    background-color: transparent;
    z-index: -1;
    border-radius: 48px;
    /* outline: 3px solid var(--white); */
    pointer-events: none;
    border: 3px solid var(--white);
  }
}

@media screen and (min-width: 567px) {
  .screen {
    max-width: 400px;
    max-height: 80vh;
  }
}

.main {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-top: 63px;
  overflow: hidden;
}
