.screen {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  margin: auto;
  padding: 0;
  background-color: var(--secondary);
  color: var(--primary);
  background-image: url('/phone-background-1.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 48px;
  position: relative;
  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
    z-index: -1;
    border-radius: 48px;
    outline: 3px solid var(--white);
    pointer-events: none;
  }
}

@media screen and (min-width: 567px) {
  .screen {
    max-width: 400px;
    max-height: 80vh;
  }
}
