.header {
  width: 100%;
  background-color: transparent;
  border-bottom: 1px solid #e0e0e0;
  padding: 16px;
  color: var(--white);
  z-index: 101;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  border-top-left-radius: 48px;
  border-top-right-radius: 48px;
  &.active {
    background-color: var(--secondary);
  }
}

.headerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 0 auto;
  padding: 0;
  gap: 10px;
}

.column {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.time {
  font-size: 16px;
  font-weight: 700;
  text-shadow: var(--text-shadow);
}

.barContainer {
  width: 100%;
  max-width: 200px;
  padding: 6px;
  background-color: var(--black);
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  border: 1px solid var(--medium);
}

.barLens {
  width: 16px;
  height: 16px;
  margin-right: 10px;
  background-color: var(--medium);
  border-radius: 50%;
}

.icons {
  display: flex;
  gap: 10px;
  font-size: 12px;
  font-weight: 700;
  color: var(--white);
  justify-content: flex-end;
  width: 100%;
  & > * {
    width: 18px;
    text-shadow: var(--text-shadow);
  }
}

.iconButton {
  all: unset;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  color: var(--primary);
  text-shadow: var(--text-shadow);
  background-color: transparent;
}
