.appPanel {
  width: 100%;
  height: 100%;
  background-color: var(--transparent-dark);
  border-radius: 48px;
  padding: 120px 16px 120px 16px;
  border: 1px solid var(--medium);
  box-shadow: var(--box-shadow);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 99;
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
  &.active {
    opacity: 1;
    pointer-events: auto;
  }
}

.cards {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  position: relative;
}

.buttons {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

.buttonContainer {
  width: 100%;
  max-width: 250px;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
  padding: 0 32px;
}

.button {
  all: unset;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  color: var(--white);
  &:hover {
    color: var(--light);
  }
  &:focus {
    outline: 1px solid var(--primary);
    outline-offset: 2px;
  }
}