.appPanel {
  width: 100%;
  height: 100%;
  background-color: var(--transparent-dark);
  border-radius: 48px;
  padding: 63px 16px 16px 16px;
  border: 1px solid var(--medium);
  box-shadow: var(--box-shadow);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 99;
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  &.active {
    opacity: 1;
    pointer-events: auto;
  }
}