.button {
  all: unset;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 0;
  border-radius: 0;
  background-color: transparent;
  color: var(--white);
  width: 65px;
  height: auto;
}

.image {
  width: 100%;
  height: auto;
  object-fit: contain;
}

.label {
  font-size: 12px;
  font-weight: 700;
  text-align: center;
  margin: 0;
  text-shadow: -1px -1px 1px rgba(255, 255, 255, 0.1),
    1px 1px 1px rgba(36, 36, 36, 0.5), 2px 2px 2px rgba(36, 36, 36, 0.5);
}
